{% load i18n file_tags staticfiles %}
<table class="table table--clickable">
    <thead>
        <tr>
            <th>{% trans "Preview" %}</th>
            <th>{% trans "File name" %}</th>
            <th>{% trans "Ordering" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody class="file-list">
    {% for file in files %}
        <tr onclick="window.location = '{{file.f.url}}'" class="item" data-id="{{file.uuid}}">
            <td>
                {% if file.is_image %}
                    <img src="{% get_variation_url file 'small' %}"></td>
                {% else %}
                    <span class="fa fa-file"></span>
                {% endif %}
            <td>{{file.f.name}}</td>
            <td>
                <span class="btn btn--small btn--drag"><span class="fa fa-bars"></span></span>
            </td>
            <td>
                <a href="{% url 'file-admin:file-delete' file.id %}?next={{request.path}}" class="btn btn--delete btn--small">{% trans "Delete" %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script src="{% static 'js/Sortable.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/fileSorter.js' %}" type="text/javascript"></script>
