.upload {
    margin-top: 1rem;
}

.upload--queued {
    opacity: 0.4;
}
.upload--uploading {}
.upload--complete {
    color: #007e00;
}
.upload--error {
    color: #d50000;
}

.upload__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.progress__bar {
    background: #eaeaec;
    height: 1px;
    transition: width 0.2s ease;
}

.upload--complete .progress__bar {
    background: #007e00;
}

.upload--error .progress__bar {
    background: #d50000;
}
